.about-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f0ec;
}

.about-section-one {
  display: flex;
}

.about-me {
  width: 60vw;
  padding-bottom: 40px;
  padding-top: 50px;
  margin-left: -30px;
}

.about {
  letter-spacing: 3px;
}

.sub-heading {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.sub-heading-desc {
  font-family: "Courier New", Courier, monospace;
}

.leaf {
  width: 260px;
  height: 300px;
  margin-left: 150px;
  margin-top: 20px;
}

.about-section-two {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.code {
  width: 400px;
  height: 300px;
}

.avatar {
  width: 230px;
  height: 220px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 40px;
}

.pear {
  width: 320px;
  height: 300px;
  margin-left: 100px;
}

.about-section-three {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
  display: flex;
  margin-top: -40px;
  padding-bottom: 70px;
}

.sign {
  margin-top: 77px;
  font-size: 100px;
  font-weight: 100;
  margin-left: 56px;
}

.symbol-text-one {
  margin-left: 145px;
  font-size: 25px;
}

.symbol-text-two {
  margin-left: 460px;
  font-size: 25px;
}

.symbol-text-three {
  margin-left: 412px;
  font-size: 25px;
}

.about-section-four {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 85px;
}

.skills {
  text-align: right;
  padding-right: 67px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
}

.skills-chart {
  background-image: linear-gradient(
      90deg,
      #cbcaca,
      2px,
      transparent,
      2px,
      transparent
    ),
    linear-gradient(0, #cbcaca, 1px, transparent, 1px, transparent);
  background-position: 0 0, 0 5px;
  background-size: 100% 8.5rem;
  margin-left: 200px;
  margin-top: -530px;
  margin-right: 70px;
}

.skill {
  list-style-type: none;
}

.level {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  padding-bottom: 95px;
}

.skills-level {
  margin-left: 7px;
}

.skills-chart {
  display: flex;
}

.bar-one {
  height: 548px;
  width: 230px;
  background-color: #bc6c25;
  border-color: #bc6c25;
  margin-left: 50px;
}

.tea-percentage {
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.2;
  padding-top: 430px;
  margin-bottom: 20px;
}

.tea-drinking {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.bar-two {
  height: 409px;
  width: 230px;
  background-color: #dda15e;
  border-color: #dda15e;
  margin-left: 50px;
  margin-top: 140px;
}

.front-end {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.front-end-percentage {
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.2;
  padding-top: 289px;
  margin-bottom: 20px;
}

.bar-three {
  height: 507px;
  width: 230px;
  background-color: #283618;
  border-color: #283618;
  margin-left: 50px;
  margin-top: 42px;
}

.design-percentage {
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.2;
  padding-top: 387px;
  margin-bottom: 20px;
}

.design {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.bar-four {
  height: 300px;
  width: 230px;
  background-color: #939b8d;
  border-color: #939b8d;
  margin-left: 50px;
  margin-top: 249px;
}

.back-end-percentage {
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.2;
  padding-top: 180px;
  margin-bottom: 20px;
}

.back-end {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.about-section-five {
  background-color: #ebe9e7;
  height: 95vh;
}

.experience-container {
  display: flex;
}

.experience {
  margin-top: 0;
  padding-left: 65px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
  padding-top: 60px;
}

.ex {
  flex-wrap: wrap;
  list-style: none;
  width: 130px;
  margin-left: 40px;
}

.ex li {
  margin-bottom: 15px;
  margin-left: -15px;
}

.ex-tabs.pro-ex-tabs .ex-link.active,
.ex-tabs.pro-ex-tabs .ex-item.show .ex-link {
  color: gray;
  background-color: #ffffff;
  border-color: #ffffff;
}

.ex-tabs.pro-ex-tabs .ex-link {
  border: 1px solid transparent;
  color: gray;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-out;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.tab-pane {
  transition: opacity 0.15s linear;
}

.ex-item {
  display: flex;
}
